<!DOCTYPE html>
<html lang="en">
<style>
body {
  background-image: url('https://images.unsplash.com/photo-1487147264018-f937fba0c817?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80');
}
</style>

<head>
    <meta charset="UTF-8">
    <title>create charity information</title>
    <style type="text/css">
        label{
        width:80px;
        display:inline-block;
        }
    </style>
</head>
<body>

<h1 style="background-color:DodgerBlue;">Add new record</h1>

<form method="post" action ="/create">


    {%csrf_token%}
    <div>
        <label>NAME</label>
        {{form.name}}
    </div>

    <div>
        <label>ADDRESS</label>
        {{form.address}}
    </div>

      <div>
        <label>EMAIL</label>
        {{form.email}}
    </div>

      <div>
        <label>MOBILE  </label>
        {{form.mob}}
    </div>

    <br>
    <div>
        <button type="submit">Submit</button>


    </div>



</body>
</html>