<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>create charity information</title>
</head>
<body>
<h1>Add new record</h1>
<form method="post" action ="/create">

    {%csrf_token%}
    <div>
        <label> donar name</label>
        {{form.name}}
    </div>

    <div>
        <label> donar address</label>
        {{form.address}}
    </div>

      <div>
        <label> donar email</label>
        {{form.email}}
    </div>

      <div>
        <label> donar mob  </label>
        {{form.mob}}
    </div>

    <br>
    <div>
        <button type="submit">Submit</button>


    </div>


</body>
</html>