<!DOCTYPE html>
<html lang="en">
<style>
body {
  background-image: url('https://images.unsplash.com/photo-1520013817300-1f4c1cb245ef?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1513&q=80');
}
</style>

<head>
    <meta charset="UTF-8">
    <title>All charity information</title>
</head>
<body>
<a href="/create">
<button>Add new Charity</button>
    </a>
<br>
<table>
    <thead>
    <tr>

        <th style="border:1px solid red">name</th>
         <th style="border:1px solid red">address</th>
         <th style="border:1px solid red">email</th>
         <th style="border:1px solid red">mob</th>
         <th style="border:1px solid red">Action</th>
    </tr>
    </thead>

    <tbody>
    {%for charity in charitys%}
    <tr>

        <td style="border:1px solid red">{{charity.name}}</td>
         <td style="border:1px solid red">{{charity.address}}</td>
         <td style="border:1px solid red">{{charity.email}}</td>
         <td style="border:1px solid red">{{charity.mob}}</td>
         <td style="border:1px solid red">
             <a href="/edit/{{charity.id}}">Edit</a>
             <a href="/delete/{{charity.id}}">Delete</a>


         </td>
    </tr>



    {%endfor%}

    </tbody>

</table>
</body>
</html>